<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.madgag.agit"
	android:installLocation="preferExternal"
	android:versionCode="1"
	android:versionName="1.0">
	<application
		android:name="com.madgag.agit.AgitApplication"
		android:theme="@style/Theme.App"
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:debuggable="true">

		<activity android:name="RepositoryManagementActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="git.repo.MANAGE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<data android:scheme="file" />
			</intent-filter>
		</activity>

		<activity android:name="RDTypeListActivity">
			<intent-filter>
				<action android:name="git.remote.LIST" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<action android:name="git.tag.LIST" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

        <activity android:name="RDTBranchListActivity">
			<intent-filter>
				<action android:name="git.branch.LIST" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name="CloneLauncherActivity">
			<intent-filter>
				<action android:name="com.madgag.git.clone.prepare" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

        <activity android:name=".SuggestRepoActivity">
			<intent-filter>
				<action android:name="com.madgag.git.repo.suggest" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

        <activity android:name=".weblaunchers.GitHubWebLaunchActivity" android:label="@string/app_name">
			<intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE"></category>
                <action android:name="android.intent.action.VIEW"></action>
				<data android:host="github.com" android:scheme="https" android:pathPattern="/.*/.*" />
			</intent-filter>
		</activity>

        <activity android:name=".weblaunchers.GitoriousWebLaunchActivity" android:label="@string/app_name">
			<intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE"></category>
                <action android:name="android.intent.action.VIEW"></action>
				<data android:host="gitorious.org" android:scheme="http" android:pathPattern="/.*/.*" />
			</intent-filter>
		</activity>

		<service android:name="GitOperationsService">
			<intent-filter>
				<action android:name="git.FETCH" />
			</intent-filter>
			<intent-filter>
				<action android:name="git.CLONE" />
			</intent-filter>
		</service>

        <service android:name=".sync.AccountAuthenticatorService"
                 android:exported="true" android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                       android:resource="@xml/authenticator" />
        </service>

        <service android:name=".sync.AgitSyncAdapterService"
         android:exported="true" android:process=":repos">
         <intent-filter>
          <action android:name="android.content.SyncAdapter" />
         </intent-filter>
         <meta-data android:name="android.content.SyncAdapter"
          android:resource="@xml/sync_adapter" />
        </service>

        <provider android:name=".sync.DummyProvider"
            android:authorities="com.madgag.agit.sync"
            android:syncable="true"
            android:label="Git Repos" />

		<provider android:name="GitInfoProvider" android:authorities="com.madgag.agit.gitinfoprovider"></provider>

		<activity android:name="BranchViewer">
			<intent-filter>
				<action android:name="git.branch.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name="TagViewer">
			<intent-filter>
				<action android:name="git.tag.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

        <activity android:name="DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="AboutActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

		<activity android:name="RepositoryListActivity">
			<intent-filter>
				<action android:name="git.repo.LIST" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name="CommitViewerActivity">
			<intent-filter>
				<action android:name="git.view.COMMIT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="10"/>

	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="org.openintents.ssh.permission.ACCESS_SSH_AGENT" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
</manifest> 